<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body background="images/backchamp.jpg">
    <div class="container bg-primary">
        <div class="row">
            <div class="col-6 bg-info text-center" >
                <p>David Isaí López Jaimes</p>
            </div>
            <div class="col-6 bg-info text-center" >
                <p>21 años</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 bg-info text-center">
                <p>Hola!! Soy David, tengo 21 años y soy ISDR. En esta página voy a hablar un poco de mi, mis gustos, hobbies, equipos favoritos,
                    entre otros.
                </p>
            </div>
        </div>
    </div>
    <div class="container bg-danger">
        <div class="row">
            <div class="col-6 text-center">
                <p class="text-light">Desde niño mi equipo favorito del futbol mexicano son las Chivas de Guadalajara
                    y aunque hoy cada que juegan tienen acostumbrada a la afición a hacer corajes, es inevitable 
                    gritar un gol sea cual sea la situación del equipo.
                </p>
                <p class="text-light">Uno de mis hobbies es jugar fútbol e irónicamente 
                    en la filial donde me enseñaron a jugar y la posición donde podía jugar
                    fue en el América porque estaba más cerca de mi casa .-.
                </p>
            </div>
            <div class="col-6 text-center">
                <img src="images/Imagen.jpg" width="200" height="200">
            </div>
        </div>
    </div>
    <div class="container bg-primary">
        <div class="row">
            <div class="col-6 text-center">
                <img src="images/sfwarr.jpg" width="300" height="185">
            </div>
            <div class="col-6 text-center">
                <p class="text-light">Mis Warriors de toda la vida. Este es el equipo de baloncesto al que le voy donde 
                    mi jugador favorito de este equipo sin duda es el chef Curry por sus tiros de media 
                    cancha y el récord de triples en la NBA.
                </p>
                <p class="text-light">Otro de mis hobbies es ver el fútbol americano con mi papá y mi equipo favorito son los
                    San Francisco 49ers.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <p class="text-light">Por parte del fútbol europeo le voy al Bayern de Múnich ya que desde el 2013 me gustó mucho
                    su estilo de juego y mentalidad donde a pesar de ir perdiendo o goleando siempre van hacia 
                    el frente buscando un gol más. 
                </p>
                <p class="text-light">Uno de los momentos donde celebré más un gol, fue en la final de la champions 2020
                    contra el PSG, y otro donde disfruté el marcador fue la golead al Barcelona por 8-2. 
                </p>
            </div>
            <div class="col-6 text-center">
                <img src="images/bayern.png" width="300" height="200">
            </div>
        </div>
    </div>
    <div class="container" style="background-color: rgb(255,144,0);">
        <div class="row">
            <div class="col-3 text-center">
                <img src="images/elbad.png" width="300" height="200">
            </div>
            <div class="col-3 text-center">
                <img src="images/bad-bunny-benito.gif" width="250" height="200">
            </div>
            <div class="col-6 text-center">
                <p>Finalmente me gusta escuchar música de casi todos los géneros pero actualmente 
                    estoy escuchando al mejor cantante de la actualidad, al gran Bad Bunny y la 
                    canción que más me gusta de su nuevo álbum es "Me porto bonito".
                </p>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>