p{
    background-color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
}
.clase1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
}
.clase2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blueviolet;
}
#p9{
    background-color: fuchsia;
}